<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main">
<div class="container">
    <form action="/admins/login" method="POST">
    <img src="../images/dp.png">
    <p>Admin Username</p>
    <input type="username" name="username" placeholder="Enter username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter password">
    <button>Login</button>
    <a href="/admins/register">Don't have an account register here</a>
    </form>
</div>
</div>
</body>
</html>