<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Booking</title>
</head>
<body>
    <div class="nav">
        <img class="logo" src="/images/logo.png">
        <div class="nchild">
            <form id="flightForm" action="/users/flights" method="GET">
                <button type="submit" class="adminLogin">View Flights</button>
            </form>
            <form id="logoutForm" action="/users/logout" method="POST">
                <button type="submit" class="register">Logout</button>
            </form>
        </div>
    </div>
    <form action="/users/bookings" method="POST">
        <div class="c">
            <label>Name</label>
            <input name="name" type="text" placeholder="Enter name" required><br>
            
            <label>Age</label>
            <input name="age" type="number" placeholder="Enter age" required><br>
            
            <label>Phone Number</label>
            <input name="phone" type="text" placeholder="Enter phone number" required><br>
            
            <label>Gender</label>
            <select name="gender" required>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select><br>
            
            <label>Class</label>
            <select name="bookingClass" required>
                <option value="BUSINESS">Business</option>
                <option value="ECONOMY">Economy</option>
            </select><br>
            
            <label>Flight Name</label>
            <input name="f_name" type="text" placeholder="Enter flight name" required><br>
            
            <button type="submit" style="float: left;">Submit</button>
        </div>
    </form>
</body>
</html>
