<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <img src="dp.png">
    <p>Old Password</p>
    <input type="text" placeholder="Enter your old password">
    <p>New Password</p>
    <input type="password" placeholder="Enter new password">
    <button>Submit</button>
</div>
</body>
</html>