<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <div class="nav">
        <span>Booking ID</span>
        <input name="b_id" type="text" placeholder="Enter booking id">
    </div>
    </body>
</html>